app/index.html
<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Computers</title>
    <link rel="stylesheet" href="assets/css/vendor.min.css">
    <!--link(rel='stylesheet' href='assets/css/common.min.css')-->
    <link rel="stylesheet" href="assets/css/common.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">
  </head>
  <body class="body">
    <div class="site">
      <header class="site__header header">
        <nav class="navbar navbar-inverse navbar-fixed-top top-nav">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display-->
            <div class="navbar-header">
              <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#"><img alt="logo" src="assets/img/logo.png"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling-->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav top-nav__list">
                <li class="top-nav__item"><a class="top-nav__link" href="#"><i class="fa fa-home top-nav__fa" aria-hidden="true"></i>Главная<span class="sr-only">(current)</span></a></li>
                <li class="dropdown top-nav__item"><a class="dropdown-toggle top-nav__link" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="i fas fa-user-circle top-nav__fa" aria-hidden="true"></i>Личный кабинет<span class="caret caret__replace-left"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Авторизация</a></li>
                    <li class="divider" role="separator"></li>
                    <li><a href="#">Регистрация</a></li>
                  </ul>
                </li>
                <li class="top-nav__item"><a class="top-nav__link" href="#"><i class="fas fa-heart top-nav__fa" aria-hidden="true"></i>Мои закладки</a></li>
                <li class="top-nav__item"><a class="top-nav__link" href="#"><i class="fas fa-shopping-cart top-nav__fa" aria-hidden="true"></i>Корзина</a></li>
                <li class="top-nav__item"><a class="top-nav__link" href="#"><i class="fas fa-check-square top-nav__fa" aria-hidden="true"></i>Оформление заказа</a></li>
              </ul>
              <div class="top-cat">
                <ul class="nav navbar-nav hidden-sm hidden-lg top-cat__list">
                  <li class="top-cat__item"><a class="top-cat__link" href="#">Category menu item</a></li>
                  <li class="top-cat__item"><a class="top-cat__link" href="#">Category menu item</a></li>
                  <li class="top-cat__item"><a class="top-cat__link" href="#">Category menu item</a></li>
                  <li class="top-cat__item"><a class="top-cat__link" href="#">Category menu item</a></li>
                  <li class="top-cat__item"><a class="top-cat__link" href="#">Category menu item</a></li>
                  <li class="top-cat__item"><a class="top-cat__link" href="#">Category menu item</a></li>
                  <li class="top-cat__item"><a class="top-cat__link" href="#">Category menu item</a></li>
                </ul>
              </div>
              <div class="navbar-text navbar-right top-contacts">
                <div class="top-contacts__item"><i class="fas fa-phone-square top-nav__fa" aria-hidden="true"></i>+7 (123) 456-78-94</div>
                <div class="top-contacts__item">Shop address text</div>
              </div>
              <div class="navbar-text navbar-right top-search">
                <form class="search-form">
                  <input class="search-form__input" type="text" placeholder="Поиск товара по категориям">
                  <button class="button" type="submit"><i class="fas fa-search"></i></button>
                </form>
              </div>
            </div>
          </div>
        </nav>
      </header>
      <div class="site__content content">
        <section class="main">
          <div class="main__left clearfix">
            <div class="main__cat"><a class="main__link" href="#">Category menu item</a><a class="main__link" href="#">Category menu item</a><a class="main__link" href="#">Category menu item</a><a class="main__link" href="#">Category menu item</a><a class="main__link" href="#">Category menu item</a><a class="main__link" href="#">Category menu item</a></div>
          </div>
          <div class="main__right clearfix">
            <div class="overlay overlay_bg_light"></div>
            <div class="main__body">
              <div class="main__header">
                <h1 class="main__title">Online store title text</h1>
              </div>
            </div>
          </div>
        </section>
        <section class="section category">
          <div class="container">
            <div class="section__header">
              <div class="row">
                <div class="col-sm-12">
                  <h2 class="section__title">Популярные</h2>
                </div>
              </div>
            </div>
            <div class="section__content">
              <div class="row">
                <div class="col-sm-6 col-md-3">
                  <div class="product">
                    <div class="product__thumb"><a class="link" href="#"><img class="product__img" alt="Product" src="assets/img/products/laptop-2.jpg"></a></div>
                    <h3 class="product__title"><a class="product__link" href="#">Product title</a></h3>
                    <div class="product__desc">
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
                    </div>
                    <div class="product__price">22000 Rub</div>
                    <div class="button-group">
                      <button class="button" type="submit"><i class="fas fa-shopping-cart" aria-hidden="true"></i></button>
                      <button class="button" type="submit"><i class="fas fa-heart" aria-hidden="true"></i></button>
                      <button class="button" type="submit"><i class="fas fa-list-alt" aria-hidden="true"></i></button>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-3">
                  <div class="product">
                    <div class="product__thumb"><a class="link" href="#"><img class="product__img" alt="Product" src="assets/img/products/laptop-2.jpg"></a></div>
                    <h3 class="product__title"><a class="product__link" href="#">Product title</a></h3>
                    <div class="product__desc">
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
                    </div>
                    <div class="product__price">22000 Rub</div>
                    <div class="button-group">
                      <button class="button" type="submit"><i class="fas fa-shopping-cart" aria-hidden="true"></i></button>
                      <button class="button" type="submit"><i class="fas fa-heart" aria-hidden="true"></i></button>
                      <button class="button" type="submit"><i class="fas fa-list-alt" aria-hidden="true"></i></button>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-3">
                  <div class="product">
                    <div class="product__thumb"><a class="link" href="#"><img class="product__img" alt="Product" src="assets/img/products/laptop-2.jpg"></a></div>
                    <h3 class="product__title"><a class="product__link" href="#">Product title</a></h3>
                    <div class="product__desc">
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
                    </div>
                    <div class="product__price">22000 Rub</div>
                    <div class="button-group">
                      <button class="button" type="submit"><i class="fas fa-shopping-cart" aria-hidden="true"></i></button>
                      <button class="button" type="submit"><i class="fas fa-heart" aria-hidden="true"></i></button>
                      <button class="button" type="submit"><i class="fas fa-list-alt" aria-hidden="true"></i></button>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-3">
                  <div class="product">
                    <div class="product__thumb"><a class="link" href="#"><img class="product__img" alt="Product" src="assets/img/products/laptop-2.jpg"></a></div>
                    <h3 class="product__title"><a class="product__link" href="#">Product title</a></h3>
                    <div class="product__desc">
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
                    </div>
                    <div class="product__price">22000 Rub</div>
                    <div class="button-group">
                      <button class="button" type="submit"><i class="fas fa-shopping-cart" aria-hidden="true"></i></button>
                      <button class="button" type="submit"><i class="fas fa-heart" aria-hidden="true"></i></button>
                      <button class="button" type="submit"><i class="fas fa-list-alt" aria-hidden="true"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-md-3">
                  <div class="product">
                    <div class="product__thumb"><a class="link" href="#"><img class="product__img" alt="Product" src="assets/img/products/laptop-2.jpg"></a></div>
                    <h3 class="product__title"><a class="product__link" href="#">Product title</a></h3>
                    <div class="product__desc">
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
                    </div>
                    <div class="product__price">22000 Rub</div>
                    <div class="button-group">
                      <button class="button" type="submit"><i class="fas fa-shopping-cart" aria-hidden="true"></i></button>
                      <button class="button" type="submit"><i class="fas fa-heart" aria-hidden="true"></i></button>
                      <button class="button" type="submit"><i class="fas fa-list-alt" aria-hidden="true"></i></button>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-3">
                  <div class="product">
                    <div class="product__thumb"><a class="link" href="#"><img class="product__img" alt="Product" src="assets/img/products/laptop-2.jpg"></a></div>
                    <h3 class="product__title"><a class="product__link" href="#">Product title</a></h3>
                    <div class="product__desc">
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
                    </div>
                    <div class="product__price">22000 Rub</div>
                    <div class="button-group">
                      <button class="button" type="submit"><i class="fas fa-shopping-cart" aria-hidden="true"></i></button>
                      <button class="button" type="submit"><i class="fas fa-heart" aria-hidden="true"></i></button>
                      <button class="button" type="submit"><i class="fas fa-list-alt" aria-hidden="true"></i></button>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-3">
                  <div class="product">
                    <div class="product__thumb"><a class="link" href="#"><img class="product__img" alt="Product" src="assets/img/products/laptop-2.jpg"></a></div>
                    <h3 class="product__title"><a class="product__link" href="#">Product title</a></h3>
                    <div class="product__desc">
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
                    </div>
                    <div class="product__price">22000 Rub</div>
                    <div class="button-group">
                      <button class="button" type="submit"><i class="fas fa-shopping-cart" aria-hidden="true"></i></button>
                      <button class="button" type="submit"><i class="fas fa-heart" aria-hidden="true"></i></button>
                      <button class="button" type="submit"><i class="fas fa-list-alt" aria-hidden="true"></i></button>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-3">
                  <div class="product">
                    <div class="product__thumb"><a class="link" href="#"><img class="product__img" alt="Product" src="assets/img/products/laptop-2.jpg"></a></div>
                    <h3 class="product__title"><a class="product__link" href="#">Product title</a></h3>
                    <div class="product__desc">
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
                    </div>
                    <div class="product__price">22000 Rub</div>
                    <div class="button-group">
                      <button class="button" type="submit"><i class="fas fa-shopping-cart" aria-hidden="true"></i></button>
                      <button class="button" type="submit"><i class="fas fa-heart" aria-hidden="true"></i></button>
                      <button class="button" type="submit"><i class="fas fa-list-alt" aria-hidden="true"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-md-3">
                  <div class="product">
                    <div class="product__thumb"><a class="link" href="#"><img class="product__img" alt="Product" src="assets/img/products/laptop-2.jpg"></a></div>
                    <h3 class="product__title"><a class="product__link" href="#">Product title</a></h3>
                    <div class="product__desc">
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
                    </div>
                    <div class="product__price">22000 Rub</div>
                    <div class="button-group">
                      <button class="button" type="submit"><i class="fas fa-shopping-cart" aria-hidden="true"></i></button>
                      <button class="button" type="submit"><i class="fas fa-heart" aria-hidden="true"></i></button>
                      <button class="button" type="submit"><i class="fas fa-list-alt" aria-hidden="true"></i></button>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-3">
                  <div class="product">
                    <div class="product__thumb"><a class="link" href="#"><img class="product__img" alt="Product" src="assets/img/products/laptop-2.jpg"></a></div>
                    <h3 class="product__title"><a class="product__link" href="#">Product title</a></h3>
                    <div class="product__desc">
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
                    </div>
                    <div class="product__price">22000 Rub</div>
                    <div class="button-group">
                      <button class="button" type="submit"><i class="fas fa-shopping-cart" aria-hidden="true"></i></button>
                      <button class="button" type="submit"><i class="fas fa-heart" aria-hidden="true"></i></button>
                      <button class="button" type="submit"><i class="fas fa-list-alt" aria-hidden="true"></i></button>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-3">
                  <div class="product">
                    <div class="product__thumb"><a class="link" href="#"><img class="product__img" alt="Product" src="assets/img/products/laptop-2.jpg"></a></div>
                    <h3 class="product__title"><a class="product__link" href="#">Product title</a></h3>
                    <div class="product__desc">
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
                    </div>
                    <div class="product__price">22000 Rub</div>
                    <div class="button-group">
                      <button class="button" type="submit"><i class="fas fa-shopping-cart" aria-hidden="true"></i></button>
                      <button class="button" type="submit"><i class="fas fa-heart" aria-hidden="true"></i></button>
                      <button class="button" type="submit"><i class="fas fa-list-alt" aria-hidden="true"></i></button>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-3">
                  <div class="product">
                    <div class="product__thumb"><a class="link" href="#"><img class="product__img" alt="Product" src="assets/img/products/laptop-2.jpg"></a></div>
                    <h3 class="product__title"><a class="product__link" href="#">Product title</a></h3>
                    <div class="product__desc">
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
                    </div>
                    <div class="product__price">22000 Rub</div>
                    <div class="button-group">
                      <button class="button" type="submit"><i class="fas fa-shopping-cart" aria-hidden="true"></i></button>
                      <button class="button" type="submit"><i class="fas fa-heart" aria-hidden="true"></i></button>
                      <button class="button" type="submit"><i class="fas fa-list-alt" aria-hidden="true"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section contacts">
          <div class="overlay overlay_bg_dark"></div>
          <div class="contacts__body">
            <div class="container">
              <div class="section__header">
                <div class="row">
                  <div class="col-sm-12">
                    <h2 class="section__title section__title_color_light">Конакты</h2>
                  </div>
                </div>
              </div>
              <div class="section__content">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="contacts__item"><i class="fas fa-mobile-alt contacts__fa" aria-hidden="true"></i>+7(123)456-78-90</div>
                    <div class="contacts__item"><i class="fas fa-map-marker-alt contacts__fa" aria-hidden="true"></i>Online store address text</div>
                    <div class="contacts__item"><i class="far fa-envelope contacts__fa" aria-hidden="true"></i>example@example</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section map">
          <div class="container">
            <div class="section__header">
              <div class="row">
                <div class="col-sm-12">
                  <h2 class="section__title">Как добраться</h2>
                </div>
              </div>
            </div>
            <div class="section__content">
              <div class="row">
                <div class="col-sm-12">
                  <div class="map__wrap"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d287426.525060507!2d37.35231985846527!3d55.749473317362614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54afc73d4b0c9%3A0x3d44d6cc5757cf4c!2z0JzQvtGB0LrQstCw!5e0!3m2!1sru!2sru!4v1523126052253" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe></div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="map__tabs">
                    <ul class="nav nav-tabs map__list" role="tablist">
                      <li class="active map__item" role="presntation"><a class="map__link" href="#moscow" aria-controls="moscow" role="tab" data-toggle="tab">Из Москвы</a></li>
                      <li class="map__item" role="presntation"><a class="map__link" href="#region" aria-controls="region" role="tab" data-toggle="tab">Из области</a></li>
                    </ul>
                    <div class="tab-content map__content">
                      <div class="tab-pane fade in active" id="moscow" role="tabpanel">
                        <div class="map__tabpanel">
                          <h3 class="map__title">На автомобиле</h3>
                          <div class="map__desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. Mauris euismod odio et felis molestie ultrices. Nam accumsan, leo efficitur placerat porttitor, ex ligula pellentesque purus, vitae tristique sem lectus nec erat. Mauris faucibus sodales ipsum, vitae viverra nisl laoreet sit amet. Sed porta, nibh id imperdiet consequat, nulla nisl congue mi, nec interdum nunc enim at ipsum.</div>
                        </div>
                        <div class="map__tabpanel">
                          <h3 class="map__title">Общественным транспортом</h3>
                          <div class="map__desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</div>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="region" role="tabpanel">
                        <div class="map__tabpanel">
                          <h3 class="map__title">На автомобиле из области</h3>
                          <div class="map__desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</div>
                        </div>
                        <div class="map__tabpanel">
                          <h3 class="map__title">Общественным транспортом из области</h3>
                          <div class="map__desc">
                            <Lorem>Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. Mauris euismod odio et felis molestie ultrices. Nam accumsan, leo efficitur placerat porttitor, ex ligula pellentesque purus, vitae tristique sem lectus nec erat. Mauris faucibus sodales ipsum, vitae viverra nisl laoreet sit amet. Sed porta, nibh id imperdiet consequat, nulla nisl congue mi, nec interdum nunc enim at ipsum.</Lorem>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <footer class="site__footer footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-3">
              <div class="bottom-nav">
                <h3 class="bottom-nav__title">Информация</h3>
                <ul class="bottom-nav__list">
                  <li class="bottom-nav__item"><a class="bottom-nav__link" href="#">О нас</a></li>
                  <li class="bottom-nav__item"><a class="bottom-nav__link" href="#">Информация о доставке</a></li>
                  <li class="bottom-nav__item"><a class="bottom-nav__link" href="#">Политика беопасности</a></li>
                  <li class="bottom-nav__item"><a class="bottom-nav__link" href="#">Условия соглашения</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="bottom-nav">
                <h3 class="bottom-nav__title">Служба пддержки</h3>
                <ul class="bottom-nav__list">
                  <li class="bottom-nav__item"><a class="bottom-nav__link" href="#">Связаься с нами</a></li>
                  <li class="bottom-nav__item"><a class="bottom-nav__link" href="#">Возврат товара</a></li>
                  <li class="bottom-nav__item"><a class="bottom-nav__link" href="#">Карта сайта</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="bottom-nav">
                <h3 class="bottom-nav__title">Дополнительно</h3>
                <ul class="bottom-nav__list">
                  <li class="bottom-nav__item"><a class="bottom-nav__link" href="#">Производители</a></li>
                  <li class="bottom-nav__item"><a class="bottom-nav__link" href="#">Подарочные сертификаты</a></li>
                  <li class="bottom-nav__item"><a class="bottom-nav__link" href="#">Партнеры</a></li>
                  <li class="bottom-nav__item"><a class="bottom-nav__link" href="#">Товары со скидкой</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="bottom-nav">
                <h3 class="bottom-nav__title">Личный кабинет</h3>
                <ul class="bottom-nav__list">
                  <li class="bottom-nav__item"><a class="bottom-nav__link" href="#">Личный кабинет</a></li>
                  <li class="bottom-nav__item"><a class="bottom-nav__link" href="#">История заказов</a></li>
                  <li class="bottom-nav__item"><a class="bottom-nav__link" href="#">Мои закладки</a></li>
                  <li class="bottom-nav__item"><a class="bottom-nav__link" href="#">Рассылка новостей</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="footer__line"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="copyright">Copyright, 2017 г.</div>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!--script(defer='', src='https://use.fontawesome.com/releases/v5.0.6/js/all.js')-->
    <script defer="" src="vendor/font-awesome/svg-with-js/js/fontawesome-all.js"></script>
    <script src="assets/js/vendor.min.js"></script>
    <!--script(src='assets/js/common.min.js')-->
  </body>
</html>

app/pug/pages/index.pug
extends ../layouts/layout.pug

block site__content
    section.main
        .main__left.clearfix
            .main__cat
                a.main__link(href='#') Category menu item
                a.main__link(href='#') Category menu item
                a.main__link(href='#') Category menu item
                a.main__link(href='#') Category menu item
                a.main__link(href='#') Category menu item
                a.main__link(href='#') Category menu item
        .main__right.clearfix
            .overlay.overlay_bg_light
            .main__body
                .main__header
                    h1.main__title Online store title text
    section.section.category
        .container
            .section__header
                .row
                    .col-sm-12
                        h2.section__title Популярные
            .section__content
                .row
                    .col-sm-6.col-md-3
                        .product
                            .product__thumb
                                a.link(href='#')
                                    img.product__img(alt='Product', src='assets/img/products/laptop-2.jpg')
                            h3.product__title
                                a.product__link(href='#') Product title
                            .product__desc
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                            .product__price 22000 Rub
                            .button-group
                                button.button(type='submit')
                                    i.fas.fa-shopping-cart(aria-hidden='true')
                                button.button(type='submit')
                                    i.fas.fa-heart(aria-hidden='true')
                                button.button(type='submit')
                                    i.fas.fa-list-alt(aria-hidden='true')
                    .col-sm-6.col-md-3
                        .product
                            .product__thumb
                                a.link(href='#')
                                    img.product__img(alt='Product', src='assets/img/products/laptop-2.jpg')
                            h3.product__title
                                a.product__link(href='#') Product title
                            .product__desc
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                            .product__price 22000 Rub
                            .button-group
                                button.button(type='submit')
                                    i.fas.fa-shopping-cart(aria-hidden='true')
                                button.button(type='submit')
                                    i.fas.fa-heart(aria-hidden='true')
                                button.button(type='submit')
                                    i.fas.fa-list-alt(aria-hidden='true')
                    .col-sm-6.col-md-3
                        .product
                            .product__thumb
                                a.link(href='#')
                                    img.product__img(alt='Product', src='assets/img/products/laptop-2.jpg')
                            h3.product__title
                                a.product__link(href='#') Product title
                            .product__desc
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                            .product__price 22000 Rub
                            .button-group
                                button.button(type='submit')
                                    i.fas.fa-shopping-cart(aria-hidden='true')
                                button.button(type='submit')
                                    i.fas.fa-heart(aria-hidden='true')
                                button.button(type='submit')
                                    i.fas.fa-list-alt(aria-hidden='true')
                    .col-sm-6.col-md-3
                        .product
                            .product__thumb
                                a.link(href='#')
                                    img.product__img(alt='Product', src='assets/img/products/laptop-2.jpg')
                            h3.product__title
                                a.product__link(href='#') Product title
                            .product__desc
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                            .product__price 22000 Rub
                            .button-group
                                button.button(type='submit')
                                    i.fas.fa-shopping-cart(aria-hidden='true')
                                button.button(type='submit')
                                    i.fas.fa-heart(aria-hidden='true')
                                button.button(type='submit')
                                    i.fas.fa-list-alt(aria-hidden='true')

                .row
                    .col-sm-6.col-md-3
                        .product
                            .product__thumb
                                a.link(href='#')
                                    img.product__img(alt='Product', src='assets/img/products/laptop-2.jpg')
                            h3.product__title
                                a.product__link(href='#') Product title
                            .product__desc
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                            .product__price 22000 Rub
                            .button-group
                                button.button(type='submit')
                                    i.fas.fa-shopping-cart(aria-hidden='true')
                                button.button(type='submit')
                                    i.fas.fa-heart(aria-hidden='true')
                                button.button(type='submit')
                                    i.fas.fa-list-alt(aria-hidden='true')
                    .col-sm-6.col-md-3
                        .product
                            .product__thumb
                                a.link(href='#')
                                    img.product__img(alt='Product', src='assets/img/products/laptop-2.jpg')
                            h3.product__title
                                a.product__link(href='#') Product title
                            .product__desc
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                            .product__price 22000 Rub
                            .button-group
                                button.button(type='submit')
                                    i.fas.fa-shopping-cart(aria-hidden='true')
                                button.button(type='submit')
                                    i.fas.fa-heart(aria-hidden='true')
                                button.button(type='submit')
                                    i.fas.fa-list-alt(aria-hidden='true')
                    .col-sm-6.col-md-3
                        .product
                            .product__thumb
                                a.link(href='#')
                                    img.product__img(alt='Product', src='assets/img/products/laptop-2.jpg')
                            h3.product__title
                                a.product__link(href='#') Product title
                            .product__desc
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                            .product__price 22000 Rub
                            .button-group
                                button.button(type='submit')
                                    i.fas.fa-shopping-cart(aria-hidden='true')
                                button.button(type='submit')
                                    i.fas.fa-heart(aria-hidden='true')
                                button.button(type='submit')
                                    i.fas.fa-list-alt(aria-hidden='true')
                    .col-sm-6.col-md-3
                        .product
                            .product__thumb
                                a.link(href='#')
                                    img.product__img(alt='Product', src='assets/img/products/laptop-2.jpg')
                            h3.product__title
                                a.product__link(href='#') Product title
                            .product__desc
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                            .product__price 22000 Rub
                            .button-group
                                button.button(type='submit')
                                    i.fas.fa-shopping-cart(aria-hidden='true')
                                button.button(type='submit')
                                    i.fas.fa-heart(aria-hidden='true')
                                button.button(type='submit')
                                    i.fas.fa-list-alt(aria-hidden='true')
                .row
                    .col-sm-6.col-md-3
                        .product
                            .product__thumb
                                a.link(href='#')
                                    img.product__img(alt='Product', src='assets/img/products/laptop-2.jpg')
                            h3.product__title
                                a.product__link(href='#') Product title
                            .product__desc
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                            .product__price 22000 Rub
                            .button-group
                                button.button(type='submit')
                                    i.fas.fa-shopping-cart(aria-hidden='true')
                                button.button(type='submit')
                                    i.fas.fa-heart(aria-hidden='true')
                                button.button(type='submit')
                                    i.fas.fa-list-alt(aria-hidden='true')
                    .col-sm-6.col-md-3
                        .product
                            .product__thumb
                                a.link(href='#')
                                    img.product__img(alt='Product', src='assets/img/products/laptop-2.jpg')
                            h3.product__title
                                a.product__link(href='#') Product title
                            .product__desc
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                            .product__price 22000 Rub
                            .button-group
                                button.button(type='submit')
                                    i.fas.fa-shopping-cart(aria-hidden='true')
                                button.button(type='submit')
                                    i.fas.fa-heart(aria-hidden='true')
                                button.button(type='submit')
                                    i.fas.fa-list-alt(aria-hidden='true')
                    .col-sm-6.col-md-3
                        .product
                            .product__thumb
                                a.link(href='#')
                                    img.product__img(alt='Product', src='assets/img/products/laptop-2.jpg')
                            h3.product__title
                                a.product__link(href='#') Product title
                            .product__desc
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                            .product__price 22000 Rub
                            .button-group
                                button.button(type='submit')
                                    i.fas.fa-shopping-cart(aria-hidden='true')
                                button.button(type='submit')
                                    i.fas.fa-heart(aria-hidden='true')
                                button.button(type='submit')
                                    i.fas.fa-list-alt(aria-hidden='true')
                    .col-sm-6.col-md-3
                        .product
                            .product__thumb
                                a.link(href='#')
                                    img.product__img(alt='Product', src='assets/img/products/laptop-2.jpg')
                            h3.product__title
                                a.product__link(href='#') Product title
                            .product__desc
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                            .product__price 22000 Rub
                            .button-group
                                button.button(type='submit')
                                    i.fas.fa-shopping-cart(aria-hidden='true')
                                button.button(type='submit')
                                    i.fas.fa-heart(aria-hidden='true')
                                button.button(type='submit')
                                    i.fas.fa-list-alt(aria-hidden='true')
    section.section.contacts
        .overlay.overlay_bg_dark
        .contacts__body
            .container
                .section__header
                    .row
                        .col-sm-12
                            h2.section__title.section__title_color_light Конакты
                .section__content
                    .row
                        .col-sm-12
                            .contacts__item
                                i.fas.fa-mobile-alt.contacts__fa(aria-hidden='true')
                                | +7(123)456-78-90
                            .contacts__item
                                i.fas.fa-map-marker-alt.contacts__fa(aria-hidden='true')
                                | Online store address text
                            .contacts__item
                                i.far.fa-envelope.contacts__fa(aria-hidden='true')
                                | example@example
    section.section.map
        .container
            .section__header
                .row
                    .col-sm-12
                        h2.section__title Как добраться
            .section__content
                .row
                    .col-sm-12
                        .map__wrap
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d287426.525060507!2d37.35231985846527!3d55.749473317362614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54afc73d4b0c9%3A0x3d44d6cc5757cf4c!2z0JzQvtGB0LrQstCw!5e0!3m2!1sru!2sru!4v1523126052253" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                .row
                    .col-sm-12
                        .map__tabs
                            ul.nav.nav-tabs.map__list(role='tablist')
                                li.active.map__item(role='presntation')
                                    a.map__link(href='#moscow', aria-controls='moscow', role='tab', data-toggle='tab') Из Москвы
                                li.map__item(role='presntation')
                                    a.map__link(href='#region', aria-controls='region', role='tab', data-toggle='tab') Из области
                            .tab-content.map__content
                                #moscow.tab-pane.fade.in.active(role='tabpanel')
                                    .map__tabpanel
                                        h3.map__title На автомобиле
                                        .map__desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. Mauris euismod odio et felis molestie ultrices. Nam accumsan, leo efficitur placerat porttitor, ex ligula pellentesque purus, vitae tristique sem lectus nec erat. Mauris faucibus sodales ipsum, vitae viverra nisl laoreet sit amet. Sed porta, nibh id imperdiet consequat, nulla nisl congue mi, nec interdum nunc enim at ipsum.
                                    .map__tabpanel
                                        h3.map__title Общественным транспортом
                                        .map__desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                #region.tab-pane.fade(role='tabpanel')
                                    .map__tabpanel
                                        h3.map__title На автомобиле из области
                                        .map__desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                    .map__tabpanel
                                        h3.map__title Общественным транспортом из области
                                        .map__desc
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. Mauris euismod odio et felis molestie ultrices. Nam accumsan, leo efficitur placerat porttitor, ex ligula pellentesque purus, vitae tristique sem lectus nec erat. Mauris faucibus sodales ipsum, vitae viverra nisl laoreet sit amet. Sed porta, nibh id imperdiet consequat, nulla nisl congue mi, nec interdum nunc enim at ipsum.
